# Embedding model for Qdrant
OPENAI_HOST=https://api.tokenfactory.nebius.com/v1/
OPENAI_API_KEY=
OPENAI_EMBEDDING_MODEL=Qwen/Qwen3-Embedding-8B

# TypeDB
TYPEDB_URI=https://dbscepadev.mads-han.src.surf-hosted.nl:1729
TYPEDB_DATABASE=knowledgeplatform
TYPEDB_USER=admin
TYPEDB_PASSWORD=

# Qdrant
QDRANT_URL=https://dbscepadev.mads-han.src.surf-hosted.nl:6333/
QDRANT_COLLECTION=knowledge_base
QDRANT_VECTOR_SIZE=4096
QDRANT_API_KEY=

# Langfuse
LANGFUSE_SECRET_KEY=
LANGFUSE_PUBLIC_KEY=
LANGFUSE_HOST=

